
    <div class="container">
    <hr>
    <h3>Contact Developer</h3>
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item "> <a class="footer-image" href="tel:+254728365673"><i class="fa-solid fa-phone fa-2xl "></i></a></li>
      <li class="nav-item"><a class="footer-image" href="https://twitter.com/Inziani_" target="_blank"><i class="fa-brands fa-twitter fa-2xl"></i></a></li>
      <li class="nav-item"><a class="footer-image" href="https://www.facebook.com/Michael.Inziani" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
      <li class="nav-item"><a class="footer-image" href="https://www.instagram.com/inziani_/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
      <li class="nav-item"><a class="footer-image" href="mailto:mikeinziani004@gmail.com"><i class="fa-solid fa-envelope fa-2xl"></i></a></li>
    </ul>
    <p class="text-center text-body-secondary"> &copy;2023 Michael Inziani. All rights reserved</p>
  </footer>
</div>
</body>
</html>
